* {
    box-sizing: border-box;
}
.parallax {
  background-image: url('../assets/charcter/happy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
}
body {
  margin: 0;
}
div {
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #696969;
}
.topnav img{
  position: sticky;
  height: 50px;
  width: 50px;
  margin: 2px 14px;
}
/* Style the topnav links */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    font-family: cursive;
    background-color: #FF4500;
    color: black;
}
.Home {
  background-color: #000000;
  padding: 10px;
  height: 210px;
}
 .home1 {
   z-index: 1;
   float: none;
   border: 2px solid #FFD700;
   height: 190px;
   padding: 14px 16px;
   font-family: "WindSong";

 }
/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
}
.content h1 {
  font-family: "WindSong";
}
.contentarea1{
  background-color: #FF8C00
}
.contentarea2{
  border: 2px solid black;
  padding: 5px;
  background-color: #FFD700;
}
.art{
  background-color: #ddd;
  padding: 10px;
  height: 500px;
}
.gallory1 img {
  padding: 1px;
  border: 2px solid black;
  float: right;
}
.gallory1 h1 {
  font-family: "WindSong";
}
.gallory1 p {
  text-align: center;
  border: 2px solid black;
}
.gallory2{

}
.gallory2 img {
  z-index: 0.5px;
  float: right;
  border: 2px solid black;
  padding: 1px;
}
/* Style the footer */
.footer {
    clear: right;
    background-color: #696969;
    padding: 10px;
}
/*Gallory.html*/
